---
import Base from "../layouts/Base.astro";
import Navbar from "../components/Navbar.astro";

let metadata = {
  title: "coming soon",
  description: "coming soon",
  url: "",
  image: "/",
};
---

<Base {metadata}>
  <div class="coming-soon-page">
    <p>
      We are launching in 2022. Check out CCSS Summer Dev Projects for more
      information!
    </p><br />
    <a
      href="https://angelonfira.notion.site/CCSS-Dev-Projects-Summer-2022-d0284164d0ae4a4f8bbdd43783f4c09e"
    >
      CCSS Summer Dev Projects
    </a>
  </div>
</Base>
