---
import Base from "../layouts/Base.astro";
import Navbar from "../components/Navbar.astro";

let metadata = {
  title: "coming soon",
  description:
    "lauching in 2022, check out ccss summer dev projects for more info: https://angelonfira.notion.site/CCSS-Dev-Projects-Summer-2022-d0284164d0ae4a4f8bbdd43783f4c09e",
  url: "",
  image: "/",
};
---

<Base {metadata}>
  <Navbar />
  <p>Topics</p>
</Base>
