---
import Base from "../layouts/Base.astro";
import Navbar from "../components/Navbar.astro";

let metadata = {
  title: "coming soon",
  description: "coming soon",
  url: "",
  image: "/",
};
---

<Base {metadata}>
  <Navbar />
  <p>Topics</p>
</Base>
